/**** Univeristy of Iowa styles for Van Allen Static Pages
		About/Contact/ForTeachers/ForResearchers ********/
		
.static-banner>img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
.ppages {
	width: 70%;
	margin: 20px auto;
}
#simple-pages-breadcrumbs {
	display: none;
}
#primary>h1 {
	display: none;
}
#about-text {
	padding-bottom: 5%;
}
section#location {
	float: left;
	width: 45%;
	padding: 10px;
}
#location>h4 {
	margin-top: 5px;
	padding: 5px;
}
.ppages p {
	margin-bottom: 10px;
}
.ppages ul, ol {
list-style-position: inside;
list-style: none;
}

/******** ASIDES **********/
.ppages  > aside .caption {
    background-color: #5aada8;
    border-radius: 0px;
    color: #fdf5e9;
    font-style: normal;
    font-size: .8em;
    opacity: 1;
    padding: 3px;
    position: absolute;
    word-wrap: normal;
    width: 30%;
    height: 100%;
    right: 0%;
    margin: 0;
}
#main_lib-map {
	float: left;
	padding-top: 50px;
	margin: 10px;
}

/******* FORM *******/
#contact-form {
	clear: both;
	margin: 10px;
	padding: 30px 15%;
}

form {
	padding-top: 15px;
	width: 75%;
}
input {
	margin: 10px;
}
textarea {
	height: 300px;
	margin: 10px;
}
input.submit {
	width: 10%;
}